{{ if .Site.Data.homepage.education.enable }}
<section class="section section--border-bottom rad-animation-group" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Emery's Art</h1>

                <h3>This is a gallery of art stuff!</h3>

                <img src="{{ .Site.BaseURL }}/img/watercolour-2-snowcabin.jpg"
                    style="padding: 5px;border:2px red solid;width: 40%;">

                <div class="folder">
                    <img class="circleimgs" src="{{ .Site.BaseURL }}/img/circlefishswarm.png">
                    <img class="folderimgs" src="{{ .Site.BaseURL }}/img/folderpic.png">
                    <p
                        style="position: absolute;width: 100%;text-align:center;top: 150px;font-size: 2.5em; font-family: 'Fredericka the Great', cursive;">
                        Carvings</p>
                </div>
                <div class="folder">
                    <img class="circleimgs" src="{{ .Site.BaseURL }}/img/circlefishswarm.png">
                    <img class="folderimgs" src="{{ .Site.BaseURL }}/img/folderpic.png">

                    <p
                        style="position: absolute;width: 100%;text-align:center;top: 150px;font-size: 2.5em; font-family: 'Fredericka the Great', cursive;">
                        Watercolour</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}