{{ if .Site.Data.homepage.education.enable }}
<section class="section section--border-bottom rad-animation-group" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 folder-zone">
                {{ range .Pages }}
                <a class="folder" href="{{ .RelPermalink }}">
                    <img class="circleimgs" src="{{ .Site.BaseURL }}/img/circlefishswarm.png">
                    <img class="folderimgs" src="{{ .Site.BaseURL }}/img/folderpic.png">
                    <p>{{ .Params.name }}</p>
                </a>
                {{ end }}
                {{ range $i, $sequence :=  (slice "Watercolour" "Acrylic" "Gothic") }}
                {{ partial "wholefolder" (dict "ctx" $ "name" .) }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}